
#flowStartBtn{font-size:30px;
padding:10px 20px;
}
#flowInstructions{display:block;
margin:50px auto;
font-size:30px;
font-family: 'Exo 2', sans-serif;
text-align: center;
height:50px;
box-sizing: border-box;
}
#flowEditorMain{display: block;
margin: 50px auto;
background-color:#f9f9b0;
width:1000px;
height:400px;
box-sizing: border-box;
padding:50px;
font-size: 20px;
border-radius: 20px;
box-shadow: 0 0 5px black;
font-family: 'Exo 2', sans-serif;
transition:.5s;
overflow: hidden;
}
#flowPageBody{display: block;
padding:0 1px;
width:1050px;
height:350px;
padding-bottom:50px;
box-sizing: border-box;
overflow-y: scroll;
}
.flowVerseLine{display: block;
width:900px;
height:50px;
box-sizing: border-box;
margin:0;
padding-top:7px;
border:thin solid black;
background-color: #f9f9b0;
overflow:hidden;
}
.flowWord{display: inline;
font-size:22px;
padding:5px;
margin:0 1px 0 0;
}

.bold{font-weight: bold;}
