#leftHalf{background-color:  black;
padding:70px 20px 20px 20px;
width:50%;
box-sizing: border-box;
display: inline-block;
position:fixed;
top:0px;
}

#homeSiteLogo{height:500px;
width:600px;
display:block;
margin:0 auto 100px auto;
}

#rightHalf{float:right;
width:50%;
height:1100px;
padding-bottom: 100px;
box-sizing: border-box;
background-color: white;
}

#introParagraph{width:400px;
font-size:30px;
font-family: 'Exo 2', sans-serif;
color:black;
text-align: left;
line-height:2;
margin:100px 90px 300px 90px;
}


.appDemo{width:568.5px;
height:120px;
background-color: black;
border-radius: 10px;
margin:50px auto;
position:relative;
overflow: hidden;
box-shadow: 0 0 5px black;
}
.appDemo:hover{cursor:pointer}
.demoImg{height:120px;
width:200px;
position:absolute;
top:0;
left:0;
z-index: 2;
}

.appDemoTitle{color:white;
font-size:30px;
text-align: center;
height:120px;
width:569px;
box-sizing: border-box;
padding:35px 0 0 150px;
font-family: 'Exo 2', sans-serif;
background-color: black;
float:left;
}
.appDemoBody{color: black;
font-size: 17px;
background-color: #c6a514;
text-align: left;
font-family: 'Exo 2', sans-serif;
padding: 10px 0 40px 220px;
height:120px;
width:569px;
box-sizing: border-box;
float:left;
}
.carousel{width:569px;
height:240px;
box-sizing: border-box;
position:absolute;
top:0;
left:0;
transition:.5s;
}
.scrollToBottom{top:-120px;}
