#leftHalf{background-color:  black;
padding:70px 20px 20px 20px;
width:50%;
box-sizing: border-box;
display: inline-block;
position:fixed;
top:0px;
}

#homeSiteLogo{height:500px;
width:600px;
display:block;
margin:0 auto 100px auto;
}

#rightHalf{float:right;
width:50%;
height:3000px;
background-color: white;
}

#introParagraph{width:400px;
font-size:30px;
font-family: 'Exo 2', sans-serif;
color:black;
text-align: left;
line-height:2;
margin:100px 90px;
}
.appDemo{width:90%;
height:120px;
border:thin solid black;
margin:20px auto;
}
.demoImg{height:120px;
width:200px;
}