#HUD{display: flex;
margin:0 auto;
width:1200px;
height:250px;
box-sizing: border-box;
background-color: #2c2c2c;
font-family: 'Exo 2', sans-serif;
position:sticky;
top:0;
transition:1s;
box-shadow: 0 0 5px black;
}
.up{top:-195px !important;}

.HUDSection{width:350px;
height:180px;
margin:10px 20px;
box-sizing: border-box;
padding:3px 10px;
box-shadow: 0 0 5px black;
background: #DBE223;
background: -webkit-linear-gradient(top left, #DBE223, #FFCB03);
background: -moz-linear-gradient(top left, #DBE223, #FFCB03);
background: linear-gradient(to bottom right, #DBE223, #FFCB03);
}

.sectionTitle{font-size:30px;
font-weight: 500;
letter-spacing:1px;
margin:0 auto;
text-align: left;
display:block;
border-bottom:2px solid black;
}

.displayCol{display: block;
width: 140px;
margin: 10px 10px 0 0;
font-size: 15px;
float:left;
}
.noMatches{text-align: center;
display:block;
margin:15px auto;
font-size:30px;
font-weight: bold;
}

#btnsBar{box-sizing: border-box;
position:absolute;
bottom:7px;
left:0;
width:100%;
height:40px;
padding:0 20px;
}
.optionsBtn{margin-right:26px;}
#rollHUDBtn{font-size:20px;
height:38px;
width:38px;
box-sizing: border-box;
padding:0 0 5px 0;
border:none;
}
.clickedBtn{background-color: white !important;
color:black !important;
}

.hidden{display:none}